
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pin</th>
      <th>Expiry at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% temp_users.each do |temp_user| %>
      <tr>
        <td><%= temp_user.name %></td>
        <td><%= temp_user.pin %></td>
        <td><%= temp_user.expiry_at %></td>
        <td><%= link_to 'Edit', edit_temp_user_path(temp_user) %></td>
        <td><%= link_to 'Destroy', temp_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Temp user', new_temp_user_path %>
