
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Pin</th>
      <th>Expiry at</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% temp_users.each do |temp_user| %>
      <tr>
        <td><%= temp_user.name %></td>
        <td><%= temp_user.pin %></td>
        <% if temp_user.expiry_at %>
        <td><%= temp_user.expired? ? "Expired" : date(temp_user.expiry_at) %></td>
        <% else %>
        <td>No Expiry</td>
        <% end %>
        <td><%= link_to 'Edit', edit_temp_user_path(temp_user), class: "btn btn-primary btn-xs"  %>
        <%= link_to 'Destroy', temp_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

