<p id="notice"><%= notice %></p>

<p>
  <strong>Namee:</strong>
  <%= @temp_user.namee %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @temp_user.pin %>
</p>

<p>
  <strong>Expiry at:</strong>
  <%= @temp_user.expiry_at %>
</p>

<%= link_to 'Edit', edit_temp_user_path(@temp_user) %> |
<%= link_to 'Back', temp_users_path %>
