<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :pin %><br>
    <%= f.number_field :pin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
