<h1>Listing Events</h1>
<table class="table">
  <thead>
    <tr>
      <th>Action</th>
      <th>User Name</th>
      <th>User Email</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
    <tr>
      <td><%= event.action %></td>
      <% if event.user.present? %>
      <td><%= event.user.name %></td>
      <td><%= event.user.email %></td>
      <% elsif event.temp_user.present?%>
      <td><%= event.temp_user.name %></td>
      <td></td>
      <% else %>
      <td></td>
      <td></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @events %>